.stock {
  background-color: var(--color-block);
}

.stock--min {
  padding: 9px 0;
}

.stock--big {
  padding: 127px 0;
}

.stock__row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.stock__text {
  font-size: 14px;
  line-height: 20px;
}

.btn--stock {
  padding: 5px 16px;
  font-size: 12px;
  line-height: 28px;
}

.block-row--stock {
  background-color: #F7F7F7;
}

.block__headlines--stock {
  max-width: 208px;
  margin-bottom: 33px;
}

.block__title--stock {
  font-size: 38px;
}

.link-underline--stock::after {
  width: 100px;
  background-color: var(--main-color);
}

@media (max-width: 1024px) {
  .stock--big {
    padding: 80px 0;
  }

  .block__title--stock {
    font-size: 34px;
  }
}

@media (max-width: 900px) {
  .stock--big {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .stock--big {
    padding: 30px 0;
  }

  .block__title--stock {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .stock--big {
    padding: 20px 0;
  }

  .block-descr--stock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .block__headlines--stock {
    margin-bottom: 15px;
  }

  .block__title--stock {
    font-size: 25px;
  }

  .btn--stock {
    padding: 5px 16px;
    font-size: 11px;
    line-height: 20px;
  }

  .stock__text {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 425px) {
  .stock__row {
    flex-direction: column;
  }

  .stock__text {
    font-size: 11px;
  }

  .stock__text +* {
    margin-top: 7px;
  }

  btn--stock {
    font-size: 10px;
    line-height: 15px;
  }
}
