.header__wrap {
  padding: 32px 0 42px;
}

.nav {
  display: grid;
  grid-template-columns: minmax(200px, 265px) minmax(270px, 570px) minmax(200px, 253px);
  column-gap: 50px;
  align-items: center;
}

.nav__list {
  display: flex;
  column-gap: 32px;
  margin-right: 327px;
  font-size: 16px;
  line-height: 20px;
  color: #292929;
}

.nav__login {
  display: flex;
  column-gap: 26px;
  font-size: 15px;
  line-height: 18px;
  color: #292929;
}

.nav__list a, .nav__login a {
  position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after,
.nav__login a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 10px;
  top: -5px;
  height: 3px;
  background-color: #CED3CA;
}

.nav__login img {
  max-width: unset;
}
