.header {
  min-height: 173px;
  top: -173px;
  transition: top 0.4s ease;
}

.header.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 140px;
  z-index: 1;
  background-color: #ffffff;
}

.header__wrap {
  padding: 32px 0 42px;
}

.nav {
  display: grid;
  grid-template-columns: minmax(200px, 265px) minmax(270px, 570px) minmax(200px, 253px);
  column-gap: 50px;
  align-items: center;
}

.nav__toggle {
  display: none;
}

.nav__list {
  display: flex;
  column-gap: 32px;
  /* margin-right: 327px; */
  font-size: 16px;
  line-height: 20px;
  color: #292929;
}

.nav__login {
  display: flex;
  column-gap: 26px;
  font-size: 15px;
  line-height: 18px;
  color: #292929;
}

.nav__list a,
.nav__login a {
  position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after,
.nav__login a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 10px;
  top: -5px;
  height: 3px;
  background-color: #CED3CA;
}

.nav__login img {
  max-width: unset;
}

@media (max-width: 965px) {
  .header__wrap {
    padding: 20px 0 30px;
  }

  .nav {
    grid-template-columns: minmax(200px, 265px) 1fr;
    column-gap: 20px;
    justify-items: end;
  }

  /* Mobile menu */
  .nav__list {
    display: none;
  }

  .nav__login {
    display: none;
  }

  .nav__toggle {
    display: block;
  }

  .nav--mobile {
    grid-template-columns: unset;
    column-gap: unset;
    justify-items: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 55px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 30px 0;
    background-color: #ffffff;
    transition: all 0.3s ease;
  }

  .nav--mobile .nav__logo {
    width: 50%;
    text-align: center;
  }

  .nav--mobile .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-size: 18px;
  }

  .nav--mobile .nav__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-size: 18px;
  }

  .nav--mobile .nav__toggle {
    position: fixed;
    top: 25px;
    right: 20px;
  }

  .nav__list a.active::after,
  .nav__list a:hover::after,
  .nav__login a:hover::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__wrap {
    padding: 10px 0 15px;
  }
}
