.gather {
  padding: 127px 0;
  background-color: var(--color-block);
  /* max-width: 1440px; */
}

.block-row--gather {
  background-color: #fff;
}

.block__headlines--gather {
  margin-bottom: 21px;
}

.block__title--gather {
  font-size: 37px;
}

.block__text--gather {
  max-width: 209px;
}

.link-underline--gather::after {
  width: 92px;
  background-color: var(--main-color);
}

@media (max-width: 1024px) {
  .gather {
    padding: 80px 0;
  }
}

@media (max-width: 900px) {
  .gather {
    padding: 50px 0;
  }

  .block__title--gather {
    font-size: 35px;
  }

  .block__headlines--gather {
    margin-bottom: 17px;
  }
}

@media (max-width: 768px) {
  .gather {
    padding: 30px 0;
  }

  .block__title--gather {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .gather {
    padding: 20px 0;
  }

  .block__title--gather {
    font-size: 25px;
    margin-bottom: 13px;
  }


}
